* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Amiri', serif;
    /* font-family: 'Solway', serif; */
    line-height: 1.5;
}
#contenitore {
    width: 80%;
    height: 100vh;
    margin: auto;

    /* background-color: red; */
}
/* struttura header */
header {
    width: 100%;
    height: 100px;
    position: relative;
    /* background: orange; */
}
#top-header {
    width: 100%;
    height: 50%;
    max-height: 50px;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;


}
.subcontenitore {
    width: 80%;
    margin: auto;
    /* background: red; */
    height: 50px
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/* logo e navbar */
#bottom-header {
    width: 100%;
    height: 50%;
    /* background: blue; */
    position: absolute;
    bottom: 0;
}
#bottom-header img {
    display: inline-block;
    max-width: 50%;
    max-height: 100%;

}
#bottom-header ul li {
    display: inline-block;
    float:right;
    line-height: 2;
    margin-right: 10px;
}
#switch-lingua ul li {
    display: inline-block;
    float:left;
    line-height: 2;
    margin-right: 10px;
    border-right: 1 solid black;
}
#menu-login {
    float: right;
}
/* Fine header ed inizio parte centrale */
#principale {
    min-height: 300px;
    background: lightpink;
}


#opzioni {
    width: 100%;
    min-height: 300px;
    background: pink;
    content: '';
    display: table;
    clear: both;
}

.calltoaction {
    width: 50%;
    float: left;
    background: orange;

}
.calltoaction h1 {
    text-align: center;
}

.calltoaction p {

    line-height: 1.5;
}
/* sfondo sezione principale */
.mainbg {
    width: 50% ;
    float: left;
}
.mainbg img {
    float: right;
    max-width: 300px;
}


/* Menu boxati */
.box {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px ;
    height: 200px;
    float: left;
    background: green;



}
    /* sezione risultati */
#customers {
    width: 100%;
    min-height: 300px;
    background: purple;

}
#customers h2 {
    text-align: center;
}
#customers p {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.box-risultati {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    background: red;

}
.risultato {
    width: 25%;
    height:50%;
    background: green;
    float: left;
}
ul a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    width: 100%;
    padding: 10px;
}
a:hover {
    background: white;

}
/* Sezione marchi trattati */
#brands {
    width: 100%;
    min-height: 300px;
    background: yellow;
}
.counter {
    width: 50%;
    height: 100%;
    float: left;
}
#brand-logo {
    width: 50%;
    height: 100%;
    background: brown;
    float: left;
}
#brand-logo::after {
    content: '';
    display: table;
    clear: both;
}
#brand-logo img {
    width: 20%;
    padding: 0 10px;
    height: 50%;
    float: left;
}
.counter h2 {
    text-align: center;
}
footer {
    width: 100%;
    min-height: 300px;
    background: orange;
    clear: both;
}
